.wit {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #52595e;
  max-width: 700px;
}

.wit__username {
  margin-left: 32px;
}

.fas.fa-heart {
  color: rgb(221, 74, 74);
}

.wit__replies__length {
  font-size: 0.8 em;
  margin-left: 8px;
}

.comments__like {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.wit__comments {
  display: flex;
}
