@media only screen and (min-width: 1211px) {
  .navbar {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    width: 65%;
    height: 100vh;
    /* border-right: 1px solid #2f3336; */
    padding-top: 40px;
  }

  .navbar__buttons {
    margin: 16px 0px 8px 5%;
    display: flex;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
  }

  .navbar__buttons:hover {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
  }

  .navbar__button__active {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    color: #dfdfdf;
  }
  .navbar__buttons__icons {
    padding-right: 12px;
  }
}

@media only screen and (max-width: 1224px) and (min-width: 621px) {
  .navbar__buttons__text {
    display: none;
  }

  .navbar__buttons {
    margin: 16px 0px 8px 2.5%;
    display: flex;
    width: 40px;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    padding-left: 8px;
  }

  .navbar {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    width: 65%;
    height: 100vh;
    /* border-right: 1px solid #2f3336; */
    padding-top: 40px;
  }

  .navbar__buttons:hover {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
  }

  .navbar__button__active {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    color: #dfdfdf;
  }
  .navbar__buttons__icons {
    padding-right: 12px;
  }
}

@media only screen and (max-width: 620px) {
  .navbar__buttons__text {
    display: none;
  }

  .navbar {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: auto;
    right: auto;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 16px 16px 8px 16px;
    /* height: 100vh; */
  }

  .navbar__buttons {
    margin: 16px 0px 8px 2.5%;
    display: flex;
    width: 40px;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    padding-left: 8px;
  }

  .navbar__buttons:hover {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
  }

  .navbar__button__active {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    color: #dfdfdf;
  }

  .navbar__buttons__icons {
    padding-right: 10px;
  }
}
