.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: center; */
  width: 25vw;
  height: 100vh;
  border-right: 2px solid #2f3336;
  padding-top: 40px;
}

.navbar__buttons {
  margin: 16px 0px 8px 60px;
  display: flex;
  /* border-radius: 5px;
  background-color: #302f2f; */
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}

.navbar__buttons__icons {
  padding-right: 15px;
}

.navbar__buttons:hover {
  background-color: rgb(131, 131, 131);
  border-radius: 10px;
}

.navbar__button__active {
  background-color: rgb(131, 131, 131);
  border-radius: 10px;
  color: #dfdfdf;
}

/* .navbar__buttons__text {
    display: none;
} */
