.new__wit {
  width: 100%;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #52595e;
  max-width: 700px;
}

.new__wit__upper {
  display: flex;
}

.new__wit__picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.new__wit__default__picture {
  background-color: gray;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new__wit__text {
  resize: none;
  text-decoration: none;
  font-size: 1.3em;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: #15212a;
  margin-left: 16px;
  color: white;
  border-bottom: 1px solid #52595e;
}

.new__wit__button__not__available:hover {
  cursor: inherit;
}

.new__wit__button__not__available {
  background-color: #0d4d79;
  color: #7e7e7f;
}

.new__wit__button__available {
  background-color: #1d9bf0;
  color: #ffffff;
}

.new__wit__button__available:hover {
  background-color: #1a8cd8;
}

.new__wit__button {
  border-radius: 16px;
  width: 70px;
  height: 32px;
  align-self: flex-end;
  margin: 24px 0px 16px 0px;
  font-weight: bolder;
}

@media only screen and (min-width: 1365px) {
  .content__page {
    position: relative;
    left: 25%;
    width: 500px;
  }

  .content__page__banner {
    border: 1px solid #52595e;
    width: 516px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 1364px) and (min-width: 1225px) {
  .content__page {
    position: relative;
    left: 17%;
    width: 500px;
  }

  .content__page__banner {
    border: 1px solid #52595e;
    width: 516px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 1224px) and (min-width: 976px) {
  .content__page {
    position: relative;
    left: 10%;
    width: 500px;
  }

  .content__page__banner {
    /* margin-left: 16px; */
    border: 1px solid #52595e;
    width: 516px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 975px) and (min-width: 621px) {
  .content__page {
    position: relative;
    left: 10%;
    width: 500px;
  }

  .content__page__banner {
    /* margin-left: 16px; */
    border: 1px solid #52595e;
    width: 516px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 620px) {
  .content__page {
    position: relative;
    /* right: 6%; */
    /* left: 10%; */
    left: auto;
    right: auto;
    width: 100%;
  }

  .content__page__banner {
    /* margin-left: 16px; */
    border: 1px solid #52595e;
    width: 100%;
    padding-left: 16px;
  }

  .new__wit {
    width: 96%;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #52595e;
    max-width: 700px;
  }

  .new__wit__button {
    border-radius: 16px;
    width: 70px;
    height: 32px;
    align-self: flex-end;
    margin: 24px 16px 16px 0px;
    font-weight: bolder;
  }
}
